.sub_title {
  letter-spacing: 3px;
  font-size: 14px;
}

.about_title {
  font-size: 60px;
  color: white;
  font-weight: 600;
  line-height: 90px;
}

.title_two {
  font-size: 50px;
  font-weight: 700;
}

.social_link_mn {
  height: 60px;
  width: 60px;

  background: rgb(223, 223, 223);
  background: linear-gradient(135deg,
      rgba(223, 223, 223, 1) 0%,
      rgba(255, 255, 255, 1) 90%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  transition: all linear 0.3s;
}

.social_link_mn:hover {
  background: rgb(40, 184, 216);
  background: linear-gradient(135deg,
      rgba(40, 184, 216, 1) 0%,
      rgba(253, 255, 255, 1) 100%);
  margin-top: -10px;
}


.social_icons {
  color: #fff;
}

/* .about_thumbnail::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 80%;
  width: 100%;
  background: rgb(221, 227, 230);
  background: linear-gradient(135deg,
      rgba(221, 227, 230, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  box-shadow: rgba(51, 51, 51, 0.12) 0px 2px 4px 0px,
    rgba(51, 51, 51, 0.12) 0px 2px 16px 0px;
  border-radius: 20px;
  z-index: 1;
} */

.about_me_img {
  height: 550px;
  width: auto;
  z-index: 9999;
}

.social_height {
  margin-top: 70px;
}

.index-module_type__E-SaG::after {
  color: var(--theme-color) !important;
}

.about_me {
  background-color: var(--bg-color);
}

.banner_slo {
  color: #fff;
  opacity: 60%;
  width: 80%;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.start_journey {
  padding: 12px 25px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  background-color: var(--text-color);
  transition: all linear 0.3s;
}

.start_journey:hover {
  color: white;
}

.banner_edit {
  top: 20%;
  left: 10%;
  height: 47px;
  width: auto;
}
.banner_edit2 {
  position: absolute!important;
  top: 35%;
    right: 18%;
  height: 47px;
  width: auto;
}
.banner_edit3 {
  position: absolute!important;
  bottom: 8%;
  right: 15%;
  height: 47px;
  width: auto;
  z-index: 9999;
}
.join_now{
  position: absolute;
  bottom: 30%;
  left: -20%;
  background-color: rgba(255, 255, 255, 0.702);
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
}
.join_now_img{
  height: 50px;
  width: 50px;
}
.join_btn{
  background-color: #FF4F8E;
  padding: 6px 12px;
  border-radius: 5px;
  margin-top: 5px;
}