.footer_bg {
  background-color: #1b1b1b;
  padding-top: 70px;
  padding-bottom: 30px;
}
.footer_logo{
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}
.logo_side {
  color: #8d8d8d;
}
.about_title {
  font-size: 18px;
}
.copyright {
  border-top: 1px solid #8d8d8d;
  background-color: #286054;
  color: #8d8d8d;
}
.footer_link_hover{
  transition: all linear 0.3s;
}
.footer_link_hover:hover{
  color: #ed1c24;
}
.footer_img{
  height: 150px!important;
  width: auto;
}
.footer {
  background-color: #333;
}
.footer_top_bottom{
  padding: 100px 0px;
}
.form_width{
  width: 380px!important;
  border-radius: 5px!important;
  height: 60px!important;
  background-color: #ffffff7a;
  opacity: 0.5;
}
.search_btn{
  background-color: #CB8461;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.sad_arrow{
  position: absolute;
  bottom: -25%;
  left: -30%;
}
.circle{
  position: absolute;
  top: 50%;
  right: -25%;

}