.SecTitleBox {
  position: relative;
}

.SecTitleBg {
  display: block;
  font-size: 80px;
  font-weight: 700;
  color: #ddd;
}
.SecTitle {
  font-size: 42px !important;
  font-weight: 700;
  color: var(--theme-color);
  /* color: #666; */
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}


@media (max-width: 1200px) {
  .SecTitle {
     font-size: 28px !important;
  }
  .SecTitleBg {
     font-size: 60px !important;
  }
}

@media (max-width: 991px) {
  .SecTitleBg {
     font-size: 7vw !important;
  }
}

@media (max-width: 767px) {
  .SecTitle {
     font-size: 28px !important;
     /* font-size: 34px !important;
     position: initial !important;
     left: 0px !important; */
  }
  .SecTitleBg {
     font-size: 8vw !important;
     /* display: none !important; */
  }
}





